# Directories #
build/classes/**
bin/**
target/**
installer/Course_Generator_Installer/obj/**

*.class


##########
# WINDOWS
##########

Thumbs.db
Desktop.ini

##########
# OS X
##########

.DS_Store
._*
.Spotlight-V100
.Trashes
/target/
