# Directories #
/build/classes/
/bin/
target/

*.class


##########
# WINDOWS
##########

Thumbs.db
Desktop.ini

##########
# OS X
##########

.DS_Store
._*
.Spotlight-V100
.Trashes

build/classes/org/openstreetmap/gui/jmapviewer/OsmMercator.class
build/classes/org/openstreetmap/gui/jmapviewer/OsmFileCacheTileLoader.class