# Directories #
/build/
/bin/
target/

*.class

# Package files #
*.jar
*.war
*.ear
*.db

##########
# WINDOWS
##########

Thumbs.db
Desktop.ini

##########
# OS X
##########

.DS_Store
._*
.Spotlight-V100
.Trashes

##########
# ECLIPSE
##########

*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings
.loadpath

*.launch
.cproject
.buildpath